<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
        <title>Welcome</title>
    </head>
    <body>
        <div class="wrapper">
            <h1>Welcome to QuotingDojo</h1>
            <form class="" action="/quotes" method="post">
                Your name: <input type="text" name="name" value="">
                Your quote: <input type="text" name="quote" value="">
                <input type="submit" name="" value="Add my quote!">
            </form>
            <form class="" action="/quotes" method="get">
                <input type="submit" name="" value="Skip to quotes!">
            </form>
        </div>
    </body>
</html>
