<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="wrapper">
            <h1>Edit</h1>
            <form class="" action="/mongooses/<%=animal.id%>" method="post">
                Name: <input type="text" name="name" value="">
                Type: <input type="text" name="type" value="">
                <input type="submit" name="" value="Edit">
            </form>
        </div>
    </body>
</html>
